<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-nav" style="color:rgb(32, 99, 244)">JCPD OTAVALO </a>


    <div class="container">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown" ngbDropdown>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                        <ul class="navbar-nav ml-auto">
                            <li *ngIf="auth.isLoggedIn()" class="nav-item">
                                <a class="nav-link" routerLink="/profile">{{ auth.getUserDetails()?.usu_nombre }}</a>
                            </li>
                            <li *ngIf="auth.isLoggedIn()" class="nav-item">
                                <a class="nav-link" routerLink="/login" (click)="auth.logout()">Logout</a>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>

    </div>
</nav>