<app-page-header [heading]="'Registro de Casos'" [icon]="'fa-edit'">
</app-page-header>
<div class="container">

    <div class="row">
        <div class="col col-xl-10 col-lg-10">
            <div class="card-header " align=center> DATOS DEL CASO </div>
            <div class="card">
                <div class="card-body">

                    <!-- DIV PARA EL NUMERO DE CASOS  -->
                    <form [formGroup]="nForm" novalidate>
                        <div class="form-group">
                            <label><b>Número de Caso</b></label>
                            <input placeholder="caso#/cedula" class="form-control" formControlName="caso_numcaso" [(ngModel)]="caso.caso_numcaso">
                        </div>
                        <div *ngIf="nForm.controls['caso_numcaso'].invalid && (nForm.controls['caso_numcaso'].dirty || nForm.controls['caso_numcaso'].touched)" class="alert alert-danger">
                            <div *ngIf="nForm.controls['caso_numcaso'].errors.required">
                                Numero de caso is required.
                            </div>
                        </div>


                        <!-- DIV PARA EL PROCO -->

                        <div class="form-group" [class.has-error]="proco_id.touched && proco_id.invalid">
                            <label for="proco_id" class="control-label"><b>
                                        Procedimiento con Conocimientos:
                                    </b></label>

                            <select id='proco_id' name='proco_id' [(ngModel)]="caso.proco_id" formControlName="proco_id" class='form-control' ngModel required>
                                    <option *ngFor="let proco of proco" [value]="proco.proco_id">
                                        {{proco.proco_nombre}}
                                    </option>
                                </select>
                            <div *ngIf="proco_id.invalid && (proco_id.dirty || proco_id.touched)" class="alert alert-danger">
                                <div *ngIf="proco_id.errors">
                                    Name is required.
                                </div>
                            </div>
                        </div>

                        <!-- div para  Tipo de denuncia  -->

                        <label> <b>Tipo de denuncia: </b></label>
                        <div class="form-group" [class.has-error]="tdenun_id.touched && tdenun_id.invalid">
                            <select id='tdenun_id' name="tipoDenuncia" [(ngModel)]="caso.tdenun_id" class='form-control' required #tdenun_id="ngModel" [ngModelOptions]="{standalone: true}">

                                    <option *ngFor="let tipoDenuncia of tdenun" [value]="tipoDenuncia.tdenun_id">
                                        {{tipoDenuncia.tdenun_nombre}}</option>
                                </select>
                            <span class="help-block" *ngIf="tdenun_id.touched && tdenun_id.invalid">
                                    Se requiere escoger una opcion
                                </span>
                        </div>

                        <!-- Div para el motivo -->
                        <label><b>Motivo:</b></label>
                        <div class="form-group">
                            <textarea type="text" id="Motivo" placeholder="Motivo" class="form-control" rows="4" formControlName="caso_motivo"></textarea>
                        </div>
                        <div *ngIf="nForm.controls['caso_motivo'].invalid && (nForm.controls['caso_motivo'].dirty || nForm.controls['caso_motivo'].touched)" class="alert alert-danger">
                            <div *ngIf="nForm.controls['caso_motivo'].errors.required">
                                Numero de caso is required.
                            </div>
                        </div>

                        <!-- Div para observaciones -->

                        <label><b>Observaciones:</b></label>
                        <div class="form-group">
                            <textarea type="text" id="Observaciones" name="caso_observaciones" [(ngModel)]="caso.caso_observaciones" placeholder="Observaciones" class="form-control" rows="4" [ngModelOptions]="{standalone: true}"> </textarea>
                        </div>


                        <!-- fecha registro -->

                        <div class="form-group col col-xl-3 ">
                            <label for="caso_fechareg"><b>Fecha de Registro:</b> </label>

                            <input type="date" id="caso_fechareg" [(ngModel)]="caso.caso_fechareg" name="caso_fechareg" class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>

                        <!-- fecha de ingreso -->

                        <div class="form-group col-xl-3  ">
                            <label><b>Fecha de Ingreso:</b> </label>

                            <input type="date" id="caso_fechaingreso" name="caso_fechaingreso" [(ngModel)]="caso.caso_fechaingreso" class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>



                        <!--DATOS DEL DERECHO AMENAZADO O VIOLENTADO  -->

                        <div class="card mb-3">



                            <div class="card-header " align=center> DATOS DEL DERECHO AMENAZADO O VIOLENTADO</div>
                            <label> <b>Derecho amenazado o violentado: </b> </label>
                            <div class="form-group">
                                <select id='dav_id' name="dav_id" [(ngModel)]="caso.dav_id" class='form-control' [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let ttda of ttda" [value]="ttda.dav_id">{{ttda.dav_nombre}}
                                        </option>
                                    </select>
                            </div>
                            <label><b>Clasificacion del Derecho amenazado o violentado:</b> </label>
                            <div class="form-group">
                                <select id='tda_id' name="tipoderechoA" [(ngModel)]="caso.tda_id" class='form-control' [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let tipoderechoA of tda" [value]="tipoderechoA.tda_id">
                                            {{tipoderechoA.tda_nombre}}</option>
                                    </select>
                            </div>

                        </div>

                        <!-- button de ingreso -->
                        <button type="submit" class="btn btn-success btn-block" (click)="saveNewCaso()"> Save
                            </button>
                    </form>








                    <!-- BOTONES DE INGRESO DEMAS TABLAS RELACIONALES  -->


                    <div class="card mb-3">
                        <div class="card-header "> INGRESO DE DATOS CASO </div>
                        <div class="contenedor-modal">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">AFECTADO</button> &nbsp;<br>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal1">DENUNCIANTE</button>&nbsp;<br>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal2">DENUNCIADO</button>&nbsp;

                        </div>


                        <!-- /////////////////////////INGRESO DE DATOS AFECTADO/////////////////////////////////// -->

                        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-xl-15 col-lg-20">
                                        <div class="modal-dialog" role="document">
                                            <div class="container">
                                                <div class="modal-content">
                                                    <div class="modal-header  bg-primary text-white">
                                                        <a>INGRESAR DATOS DEL AFECTADO</a>
                                                    </div>

                                                    <div class="modal-content p-5">
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer  bg-secondary text-white">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>