<app-page-header [heading]="'Registro de Casos'" [icon]="'fa-edit'">
</app-page-header>
<div class="container">

    <div class="row">
        <div class="col col-xl-10 col-lg-10">
            <div class="card-header " align=center> DATOS DEL CASO </div>
            <div class="card">
                <div class="card-body">

                    <!-- DIV PARA EL NUMERO DE CASOS  -->
                    <form [formGroup]="nForm" novalidate>
                        <div class="form-group">
                            <label><b>Número de Caso</b></label>
                            <input placeholder="caso#/cedula" class="form-control" formControlName="caso_numcaso">
                        </div>
                        <div *ngIf="nForm.controls['caso_numcaso'].invalid && (nForm.controls['caso_numcaso'].dirty || nForm.controls['caso_numcaso'].touched)" class="alert alert-danger">
                            <div *ngIf="nForm.controls['caso_numcaso'].errors.required">
                                Numero de caso is required.
                            </div>
                        </div>


                        <!-- DIV PARA EL PROCO -->

                        <div class="form-group" [class.has-error]="proco_id.touched && proco_id.invalid">
                            <label for="proco_id" class="control-label"><b>
                                        Procedimiento con Conocimientos:
                                    </b></label>

                            <select id='proco_id' name='proco_id' class='form-control' formControlName="proco_id" required>
                                    <option *ngFor="let proco of proco" [value]="proco.proco_id">
                                        {{proco.proco_nombre}}
                                    </option>
                                </select>
                            <div *ngIf="proco_id.invalid && (proco_id.dirty || proco_id.touched)" class="alert alert-danger">
                                <div *ngIf="nForm.controls['proco_id'].errors.required">
                                    Name is required.
                                </div>
                            </div>
                        </div>

                        <!-- div para  Tipo de denuncia  -->
                        <label> <b>Tipo de denuncia: </b></label>
                        <div class="form-group" [class.has-error]="tdenun_id.touched && tdenun_id.invalid">
                            <select id='tdenun_id' name="tipoDenuncia" [(ngModel)]="caso.tdenun_id" class='form-control' required #tdenun_id="ngModel" [ngModelOptions]="{standalone: true}">

                                    <option *ngFor="let tipoDenuncia of tdenun" [value]="tipoDenuncia.tdenun_id">
                                        {{tipoDenuncia.tdenun_nombre}}</option>
                                </select>
                            <span class="help-block" *ngIf="tdenun_id.touched && tdenun_id.invalid">
                                    Se requiere escoger una opcion
                                </span>
                        </div>
                    </form>








                    <!-- BOTONES DE INGRESO DEMAS TABLAS RELACIONALES  -->


                    <div class="card mb-3">
                        <div class="card-header "> INGRESO DE DATOS CASO </div>
                        <div class="contenedor-modal">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">AFECTADO</button> &nbsp;<br>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal1">DENUNCIANTE</button>&nbsp;<br>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal2">DENUNCIADO</button>&nbsp;

                        </div>


                        <!-- /////////////////////////INGRESO DE DATOS AFECTADO/////////////////////////////////// -->

                        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-xl-15 col-lg-20">
                                        <div class="modal-dialog" role="document">
                                            <div class="container">
                                                <div class="modal-content">
                                                    <div class="modal-header  bg-primary text-white">
                                                        <a>INGRESAR DATOS DEL AFECTADO</a>
                                                    </div>

                                                    <div class="modal-content p-5">
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                        <label for="numcaso">NUMERO DE CASO</label>
                                                        <div>
                                                            <input type="text" name="caso_numcaso" [(ngModel)]="caso.caso_numcaso" placeholder="caso#/cedula" class="form-control">

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer  bg-secondary text-white">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>