<div class="modal-content p-5">

    <label for="numcaso">Id caso</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Identidad</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Genero</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Dicapacidad</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Provincia</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Canton</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Sector</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Parroquia</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Nombre</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Apellido</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Cedula de Identidad</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Fecha de Nacimiento</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Edad</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Direccion</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Teléfono</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Correo Electronico</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Observaciones</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <label for="numcaso">Dicapacidad</label>
    <div>
        <input type="text" name="caso_numcaso" class="form-control">

    </div>
    <button> </button>
</div>

<div class="modal-footer  bg-secondary text-white">